/* Styles for the Introduction section */
#evolution {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid black;
}

#evolution h2 {
    font-size: 24px;
    color: #333;
}

#evolution p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

#evolution img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 15px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: rgb(238, 34, 156);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #b30065;
}

#images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* Adjust alignment as needed */
    align-items: center;
    /* Adjust alignment as needed */
}

#images img {
    width: 100px;
    /* Set the width of individual images */
    height: auto;
    /* Maintain aspect ratio */
    margin: 5px;
    /* Add spacing between images */
}